---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import type { Settings } from "@/types";

interface Props {
  settings?: Settings;
}

const { settings } = Astro.props;
const title = settings?.businessTitle || "Fluydo S.A.";
const description = settings?.businessPresentation || "";

---

<!doctype html>
<html lang="es">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{settings?.businessTitle}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="keywords" content="marroquinería, accesorios de moda, importación, moda, moda argentina, moda latina, moda internacional" />

		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:url" content="https://fernandolis.netlify.app" />
		<meta property="og:image" content="https://fernandolis.netlify.app/og-image.jpg" />
		<meta property="og:locale" content="es_AR" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@Breakpoint_" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<ClientRouter />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>


  <body class="min-h-screen font-sans">
		<Navbar />
    <slot />
		<Footer />
  </body>
</html>
